@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?57beeb');
	src:url('../fonts/icomoon.eot?#iefix57beeb') format('embedded-opentype'),
		url('../fonts/icomoon.woff?57beeb') format('woff'),
		url('../fonts/icomoon.ttf?57beeb') format('truetype'),
		url('../fonts/icomoon.svg?57beeb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: absolute;
	right: 0.7em;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-fire:before {
	content: "\e600";
}

html {
	height: 100%;
}

body {
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
}
.container {
	width: 600px;
	height: 100%;
	margin: 0 auto;
	background-color: #FFF0A5;
	overflow: hidden;
	position: relative;
	text-align: center;
	border-radius: 5px;
}
.button {
	font: 2em 'Raleway', sans-serif;
	padding: 0.5em 3em 0.5em 1.5em;
	border-radius: 5px;
	background-color: #FFB03B;
	display: inline-block;
	color: #000;
	outline: none;
	border: none;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	opacity: 0.9;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.button:after {
	content: "";
	display: block;
	height: 200%;
	width: 27%;
	position: absolute;
	right: 0;
	top: 0;
	background-color: rgba(255, 255, 255, 0.2);
	-webkit-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	transform: rotate(-15deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.button:hover {
	opacity: 1;
}
.button:hover:after {
	/*width: 0;*/
}
.button:active {
	-webkit-transform: translateY(5px);
	-ms-transform: translateY(5px);
	-o-transform: translateY(5px);
	transform: translateY(5px);
}
.button:active i {
	color: red;
}
.toasts {
	position: absolute;
	bottom: 0;
	right: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.toasts li {
	background-color: #aaa;
	padding: 1em 0;
	width: 10em;
	margin-bottom: 5px;
	color: #fff;
}
.slide li {
	-webkit-animation: slide 2.6s cubic-bezier(.9,.09,.85,.66) forwards;
	-webkit-transform-origin: 100% 50%;
}

@-webkit-keyframes slide {
	0% {
		-webkit-transform: translateX(100%) skew(-15deg) scale(0.5);
		-ms-transform: translateX(100%) skew(-15deg) scale(0.5);
		-o-transform: translateX(100%) skew(-15deg) scale(0.5);
		transform: translateX(100%) skew(-15deg) scale(0.5);
	}
	15% {
		-webkit-transform: translateX(-15%) scale(1);
		-ms-transform: translateX(-15%) scale(1);
		-o-transform: translateX(-15%) scale(1);
		transform: translateX(-15%) scale(1);
	}
	20% {
		-webkit-transform: skewX(2deg);
		-ms-transform: skewX(2deg);
		-o-transform: skewX(2deg);
		transform: skewX(2deg);
	}
	30% {
		-webkit-transform: translateX(0%) skew(-1deg);
		-ms-transform: translateX(0%) skew(-1deg);
		-o-transform: translateX(0%) skew(-1deg);
		transform: translateX(0%) skew(-1deg);
	}
	40% {
		-webkit-transform: skewX(1deg);
		-ms-transform: skewX(1deg);
		-o-transform: skewX(1deg);
		transform: skewX(1deg);
	}
	50% {
		-webkit-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		-o-transform: skewX(0deg);
		transform: skewX(0deg);
	}
	80% {
		-webkit-transform: scale(1) translateX(0);
		-ms-transform: scale(1) translateX(0);
		-o-transform: scale(1) translateX(0);
		transform: scale(1) translateX(0);
	}
	90% {
		opacity: 1;
		-webkit-transform: scale(1.05) translateX(-10%);
		-ms-transform: scale(1.05) translateX(-10%);
		-o-transform: scale(1.05) translateX(-10%);
		transform: scale(1.05) translateX(-10%);
	}
	98% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(0) translateX(50%);
		-ms-transform: scale(0) translateX(50%);
		-o-transform: scale(0) translateX(50%);
		transform: scale(0) translateX(50%);
	}
}