/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Reset
2.0 - Typography
3.0 - Layout
4.0 - Page Blocks
	4.1 - Header
	4.2 - Navigation
	4.3 - Banner
	4.4 - Ad
	4.5 - Gallery
	4.6 - Content
5.0 Media Queries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Reset
--------------------------------------------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------------------------------------------------
2.0 - Typography
--------------------------------------------------------------*/

html {
  font-size: 65%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

h2 {
  font-size: 2em;
  line-height: 1.1em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.3em;
  padding: 0.3em 0 0.5em;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}

p {
  font-size: 15px;
  padding: 0.5em 0;
}

span {
  font-size: 1.2em;
  color: #fff;
}

/*--------------------------------------------------------------
3.0 - Layout
--------------------------------------------------------------*/

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}

/*--------------------------------------------------------------
4.0 - Page Blocks
--------------------------------------------------------------*/

/*--------------------------------------------------------------
4.1 - Header
--------------------------------------------------------------*/

.page-header {
  background: #373c3f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.page-header span {
  margin-left: 1em;
  font-size: 1.2em;
  line-height: 1em;
  padding: 1em 0;
}

/*--------------------------------------------------------------
4.2 - Navigation
--------------------------------------------------------------*/

.mobile-menu-chk,
.mobile-menu-lbl {
  width: 4em;
  height: 100%;
  position: absolute;
  right: 0;
}

.mobile-menu-chk {
  z-index: 1;
  opacity: 0;
  outline: none;
  cursor: pointer;
}

.mobile-menu-lbl {
  display: block;
  text-indent: 100%;
  overflow: hidden;
  cursor: pointer;
  background: #202529;
}

.mobile-menu-lbl:before,
.mobile-menu-lbl:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.mobile-menu-lbl:before {
  background: url(../svg/open.svg) 50% 50% no-repeat;
  -webkit-background-size: 2em auto;
  background-size: 2em auto;
  opacity: 1;
}

.mobile-menu-lbl:after {
  background: url(../svg/close.svg) 50% 50% no-repeat;
  -webkit-background-size: 2em auto;
  background-size: 2em auto;
  opacity: 0;
}

.page-navigation {
  position: absolute;
  -webkit-box-flex: 100%;
  -webkit-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  right: 100%;
  top: 3.6em;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.main-menu a {
  line-height: 3rem;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  padding: 0 2rem;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  background-color: #373c3f;
}

.main-menu li:first-child a {
  border-top: 1px solid #fff;
}

.main-menu a:hover {
  background-color: #2e2e2e;
}

.mobile-menu-chk:checked ~ .page-navigation {
  right: 0;
  opacity: 1;
  z-index: 5;
}

.mobile-menu-chk:checked ~ .mobile-menu-lbl:before {
  opacity: 0;
}

.mobile-menu-chk:checked ~ .mobile-menu-lbl:after {
  opacity: 1;
}

/*--------------------------------------------------------------
4.3 - Banner
--------------------------------------------------------------*/

.page-banner {
  position: relative;
}

.button {
  display: block;
  -webkit-box-shadow: inset 0 1px 4px -1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 4px -1px rgba(255, 255, 255, 0.4);
  position: relative;
  background: url(../svg/chevron.svg) 50% 50% no-repeat;
}

.page-banner .button {
  padding-top: 55%;
  background: -webkit-linear-gradient(315deg, rgba(40,185,202,1) 0%, rgba(7,138,164,1) 100%);
  background: linear-gradient(135deg, rgba(40,185,202,1) 0%, rgba(7,138,164,1) 100%);
}

.page-banner h2 {
  position: absolute;
  left: 10%;
  top: 37%;
}

.page-banner h2:after {
  content: "";
  display: block;
  width: 1.6em;
  height: 1.6em;
  position: absolute;
  background: url(../svg/chevron.svg) 100% 75% no-repeat;
  -webkit-background-size: 0.6em;
  background-size: 0.6em;
  right: 0;
  bottom: 0;
}

.page-banner span {
  display: block;
  opacity: 0.8;
  letter-spacing: 0.15em;
  padding-top: 0.25em;
  font-size: 0.6em;
}

/*--------------------------------------------------------------
4.4 - Ad
--------------------------------------------------------------*/

.page-ad {
  background: #27212c;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: inset 0 1px 4px -1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 4px -1px rgba(255, 255, 255, 0.4);
}

.page-ad .button {
  width: 22.2%;
  padding-top: 23.5%;
  background-color: #bc3183;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-background-size: 1.6em;
  background-size: 1.6em;
}

.page-ad span {
  margin: auto;
  color: #9282a0;
  font-size: 1em;
  letter-spacing: 2px;
}

/*--------------------------------------------------------------
4.5 - Gallery
--------------------------------------------------------------*/

img {
  width: 100%;
  height: 100%;
  float: left;
}

.page-gallery .button {
  padding-top: 86%;
  background-color: #5b0fa1;
  -webkit-background-size: 3em;
  background-size: 3em;
}

/*--------------------------------------------------------------
4.6 - Content
--------------------------------------------------------------*/

.main-content {
  padding: 3em 3.6em 70px;
  background-color: #ebebeb;
}

.main-content h3 {
  color: #088ca5;
}

/*--------------------------------------------------------------
5.0 - Media Queries
--------------------------------------------------------------*/

@media screen and (min-width: 400px) {
  html {
    font-size: 80%;
  }
}

@media screen and (min-width: 480px) {
  html {
    font-size: 95%;
  }
}

@media screen and (min-width: 560px) {
  html {
    font-size: 110%;
  }
}

@media screen and (min-width: 641px) {
  html {
    font-size: 125%;
  }

  .page-header span,
  .mobile-menu-chk,
  .mobile-menu-lbl {
    display: none;
  }

  .page-navigation {
    opacity: 1;
    position: static;
    background-color: transparent;
  }

  .main-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 2em;
  }

  .main-menu li {
    line-height: 0;
    padding: 1.6em 0.7em 1.5em;
  }

  .main-menu li:first-child a {
    border: none;
  }

  .main-menu a {
    border: none;
    padding: 0;
    display: inline;
    font-size: 0.7em;
    line-height: 1.2;
    font-weight: 500;
  }

  .main-menu a:hover {
    background-color: transparent;
    text-decoration: underline;
  }

  .page-gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }

  .page-gallery > img {
    -webkit-box-flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 33.33%;
  }

  .page-gallery .button {
    -webkit-box-flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    padding: 0;
    width: 33.33%;
    -webkit-background-size: 1.5em;
    background-size: 1.5em;
  }
}

@media screen and (min-width: 740px) {
  .page-banner h2 {
    font-size: 2.3em;
  }
}

@media screen and (min-width: 740px) {
  .page-banner h2 {
    font-size: 2.7em;
  }
}

@media screen and (min-width: 981px) {
  .main-content {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px;
  }

  .main-content h3 {
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
  }

  .main-menu li {
    padding: 2.3em 0.7em 2em;
  }

  .page-banner h2 {
    font-size: 3.3em;
    left: 10%;
    top: 30%;
  }

  .page-ad span {
    font-size: 1.2em;
  }
}