body {
	font-family: 'Roboto', sans-serif;
	background: url(../images/desk.svg) no-repeat top left;
	background-size: 100%;
}

.todoapp {
	width: 50%;
	margin: 100px auto;
	position: relative;
	border-radius: 10px 25px 25px 10px;
	background-color: #ECD1BA;
	padding: 30px 100px 80px 60px;
	box-sizing: border-box;
	box-shadow: 0 0 8px -1px rgba(0,0,0,0.3);
}

.todoapp:before {
	content: "";
	display: block;
	position: absolute;
	width: 40px;
	right: 30px;
	top: 0;
	height: 100%;
	background-color: #058E72;
}

.app-header {
	margin-bottom: 10px;
	border-bottom: 3px solid #565656;
}

.app-header h1 {
	text-align: center;
	font: 3.6em/1.2 'Indie Flower';
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
}

.app-content {
}

.new-task-add {
	color: #ec5a62;
	width: 100%;
	font: 2.5em/1.2 'Raleway', sans-serif;
	outline: 0;
	border: 0;
	background: transparent;
}

.new-task-add::-webkit-input-placeholder {
	color: rgba(169, 169, 169, 0.6);
}

.task-list li {
	font-size: 1.5em;
	color: #2B2B2C;
	background-color: #fff;
	width: 100%;
	margin: 5px 0;
	border-radius: 8px;
	box-sizing: border-box;
	position: relative;
	-webkit-animation: appear 0.3s cubic-bezier(.9,.09,.85,.66) forwards;
	/*-webkit-transform-origin: 100% 50%;*/
}

@-webkit-keyframes appear {
	0% {
		opacity: 0.7;
		-webkit-transform: translateY(-100%) scale(0.9);
		-ms-transform: translateY(-100%) scale(0.9);
		-o-transform: translateY(-100%) scale(0.9);
		transform: translateY(-100%) scale(0.9);
	}
	45% {
		-webkit-transform: translateY(0%) scale(0.9);
		-ms-transform: translateY(0%) scale(0.9);
		-o-transform: translateY(0%) scale(0.9);
		transform: translateY(0%) scale(0.9);
	}
	100% {
	}
}
#btn-add {
	display: none;
}
.remove {
	/*visibility: hidden;*/
	position: absolute;
	right: 20px;
	background: none;
	border: none;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
	opacity: 0;
	outline: none;
}

.remove:after {
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/close.svg) no-repeat center;
	background-size: contain;
	-webkit-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s;
}

.remove:hover:after {
	-webkit-transform: scale(1.25);
	-ms-transform: scale(1.25);
	-o-transform: scale(1.25);
	transform: scale(1.25);
}

.check {
	left: 15px;
	opacity: 0;
	z-index: 100;
}

.check, svg, .remove {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 30px;
	height: 30px;
	top: 50%;
	box-sizing: border-box;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

/*.check:hover {
	cursor: pointer;
}*/

.task-list span {
	display: block;
	padding: 20px 0;
	margin: 0 40px 0 60px;
	word-break: break-word;
}

.completed span {
	opacity: 0.5;
	text-decoration: line-through;
}
li:hover > .remove {
	/*visibility: visible;*/
	opacity: 1;
}
svg {
	left: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
path {
	visibility: hidden;
	stroke-dashoffset: 126px;
}
.completed path {
	visibility: visible;
	stroke-dashoffset: 0;
	-moz-stroke-dashoffset: 0px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.app-footer {
	margin-top: 10px;
	border-top: 3px solid #565656;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	font-size: 0.8em;
	background: rgba(0, 0, 0, 0.15);
	display: none;
}

.app-footer span {
	/*text-align: center;*/
	align-self: center;
	text-align: center;
	padding: 5px 10px;
	font-size: 1em;
}

.app-footer em {
	display: block;
	font-size: 1.8em;
}

.app-footer span:first-child {
	margin-right: auto;
}

.app-footer span:last-child {
	margin-left: auto;
}
