<div class="container">
	<div class="row">

		<form class="col-sm-6 col-md-4 col-md-offset-4" name="searchForm" ng-submit="searchForm.$valid && makeRequest()"
																											novalidate>
			<fieldset class="form-group">
				<input ng-model="request.keyword" type="text" class="form-control" placeholder="Search" title="Search" required />
			</fieldset>

			<fieldset class="form-group">
				<input ng-model="request.forks" type="number" min="0" class="form-control" placeholder="Forks" title="Forks" />
			</fieldset>

			<fieldset class="form-group">
				<input ng-model="request.stars" type="number" min="0" class="form-control" placeholder="Stars" title="Stars" />
			</fieldset>

			<fieldset class="form-group">
				<input ng-model="request.size" type="number" min="0" class="form-control" placeholder="Size" title="Size" />
			</fieldset>

			<fieldset class="form-group">
				<input type="submit" class="btn btn-primary center-block" value="Search" />
			</fieldset>

		</form>
	</div>

	<div class="row">
		<div class="col-sm-6 col-md-4" ng-repeat="item in repos.items | limitTo: 12 | orderBy:'full_name'">
			<div class="thumbnail">
				<h2 class="text-center"><a href="{{item.html_url}}">{{item.full_name}}</a></h2>
				<a href="#/repos/{{item.name}}/user/{{item.owner.login}}"><img ng-src="{{item.owner.avatar_url}}" alt="{{item.owner.login}}"></a>
				<h5 class="text-center">{{item.owner.login + ' ( ID:' + item.owner.id + ')'}}</h5>
				<div class="caption">
					<p>{{item.description}}</p>
				</div>
			</div>
		</div>
	</div>

</div>
