<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<h2 class="text-center"><a href="{{item.html_url}}">{{item.full_name}}</a></h2>
			<a href="#/repos/{{item.name}}/user/{{item.owner.login}}"><img ng-src="{{item.owner.avatar_url}}" alt="{{item.owner.login}}"></a>
			<h5 class="text-center">{{item.owner.login + ' ( ID:' + item.owner.id + ')'}}</h5>
			<div class="caption">
				<p>{{item.description}}</p>
			</div>
		</div>
	</div>
</div>