
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
0.0 - Fonts
1.0 - Reset
2.0 - Typography
3.0 - Layout
4.0 - Page Blocks
	4.1 - Header
	4.2 - Navigation
	4.3 - Content
	4.4 - Sidebar
	4.5 - Footer
5.0 Media Queries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
0.0 - Fonts
--------------------------------------------------------------*/

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
		font-family: 'capture_itregular';
		src: url('../fonts/Capture_it-webfont.eot');
		src: url('../fonts/Capture_it-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/Capture_it-webfont.woff') format('woff'),
				 url('../fonts/Capture_it-webfont.ttf') format('truetype'),
				 url('../fonts/Capture_it-webfont.svg#capture_itregular') format('svg');
		font-weight: normal;
		font-style: normal;

}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?srrl9f');
	src:url('../fonts/icomoon.eot?#iefixsrrl9f') format('embedded-opentype'),
		url('../fonts/icomoon.woff?srrl9f') format('woff'),
		url('../fonts/icomoon.ttf?srrl9f') format('truetype'),
		url('../fonts/icomoon.svg?srrl9f#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\f002";
}
.icon-envelope-o:before {
	content: "\f003";
}
.icon-user:before {
	content: "\f007";
}
.icon-photo:before {
	content: "\f03e";
}
.icon-fire:before {
	content: "\f06d";
}
.icon-file-text-o:before {
	content: "\f0f6";
}

/*--------------------------------------------------------------
1.0 - Reset
--------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

img {
	display: block;
}

/*--------------------------------------------------------------
2.0 - Typography
--------------------------------------------------------------*/

a {
	text-decoration: none;
	font: 1rem Quicksand, Arial, Helvetica, sans-serif;
}

h3 {
	font: 2em 'capture_itregular', Impact, Charcoal, sans-serif;
}

p {
	font: 0.9em 'robotoregular', Tahoma, Geneva, sans-serif;
}

/*--------------------------------------------------------------
3.0 - Layout
--------------------------------------------------------------*/

.container {
	display: flex;
	flex-flow: column;
	min-width: 300px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1em;
}

.page-content {
	display: flex;
	flex-flow: row wrap;
	position: relative;
	padding: 1em 0;
}

.page-navigation {
	flex: 5;
	padding: 3em 1em 0;
	overflow: hidden;
	position: relative;
}

.page-sidebar {
	flex: 3;
	padding: 3em 1em 0;
}

.main-content {
	flex: 15;
	padding: 0 1rem;
}

/*--------------------------------------------------------------
4.0 - Page Blocks
--------------------------------------------------------------*/

/*--------------------------------------------------------------
4.1 - Header
--------------------------------------------------------------*/

.page-header {
	border-bottom: 6px solid #2FA8A1;
}

.logo {
	display: block;
	margin: 0 auto;
	width: 20%;
	transition: transform 0.5s;
}

.logo:hover {
	transform: scale(1.05);
}

/*--------------------------------------------------------------
4.2 - Navigation
--------------------------------------------------------------*/

.main-navigation a {
	font-size: 0.9rem;
	padding: 1rem 2rem;
	display: block;
	text-transform: uppercase;
	font-weight: 700;
	color: #888;
	transition: all 0.3s;
}

.main-navigation li {
	overflow: hidden;
	border-top: 1px solid #683B1C;
	border-right: 1px solid #683B1C;
	border-left: 1px solid #683B1C;
}

.main-navigation li:first-child {
	border-radius: 0.4em 0.4em 0 0;
}

.main-navigation li:last-child {
	border-radius: 0 0 0.4em 0.4em;
	border-bottom: 1px solid #683B1C;
}

.main-navigation a:before {
	padding-right: 1em;
	transition: all 0.3s;
	text-decoration: none;
}

.icon-search {
	box-shadow: inset 10px 0 0 -2px #F2591A;
}
.icon-user {
	box-shadow: inset 10px 0 0 -2px #6DD1C9;
}
.icon-photo {
	box-shadow: inset 10px 0 0 -2px #E9D027;
}
.icon-fire {
	box-shadow: inset 10px 0 0 -2px #DF334C;
}
.icon-file-text-o {
	box-shadow: inset 10px 0 0 -2px #89C30C;
}

.main-navigation li:hover {
	background-color: #eee;
}

.main-navigation li:hover a:before {
	color: #F2591A;
}

.mobile-menu-chk, 
.mobile-menu-lbl {
	width: 2em;
	height: 2em;
	position: absolute;
	left: 1em;
	top: -2.5em;
	visibility: hidden;
}

.mobile-menu-chk {
	z-index: 1;
	opacity: 0;
	outline: none;
	cursor: pointer;
}

.mobile-menu-lbl {
	display: block;
	text-indent: 100%;
	overflow: hidden;
	cursor: pointer;
}

.mobile-menu-lbl:before {
	content: "";
	background: url(../svg/open.svg) 50% 50% no-repeat;
	background-size: 2em auto;
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.mobile-menu-chk:checked ~ .page-navigation .main-navigation {
	left: 0;
	opacity: 1;
	position: static;
	transition: all 0.5s;
	padding-bottom: 1em;
}

.mobile-menu-chk:checked ~ .mobile-menu-lbl:before {
	background: url(../svg/close.svg) 50% 50% no-repeat;
	background-size: 2em auto;
}

/*--------------------------------------------------------------
4.3 - Content
--------------------------------------------------------------*/

.post {
	margin-bottom: 1em;
}

.post:before, .post:after {
	content: "";
	display: table;
	clear: both;
}

.post h3 {
	margin-bottom: 0.5em;
	text-align: center;
	color: #683B1C;
}

.post img {
	float: left;
	margin: 0 1em 1em 0;
	width: 25%;
}

/*--------------------------------------------------------------
4.4 - Sidebar
--------------------------------------------------------------*/

.page-sidebar {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.page-sidebar img {
	width: 80%;
	margin: 0 auto;
}

/*--------------------------------------------------------------
4.1 - Footer
--------------------------------------------------------------*/

.page-footer {
	padding: 2% 0;
	border-top: 6px solid #268882;
}

.icons {
	display: flex;
}

.icons li {
	flex: 1;
}

.icons img {
	width: 70%;
}

/*--------------------------------------------------------------
5.0 - Media Queries
--------------------------------------------------------------*/

@media screen and (max-width: 980px) {
	.page-content {
		flex-flow: row wrap;
	}
	.page-sidebar {
		flex: 1 100%;
		flex-flow: row wrap;
		padding-top: 1em;
	}
	.page-sidebar img {
		width: 200px;
		flex: auto;
		height: 100%;
		margin: 1em;
	}
}

@media screen and (max-width: 880px) {
	.post img {
		width: 80%;
		float: none;
		margin: 0 auto 1em;
	}
	.logo {
		width: 30%;
	}
	.page-content {
		flex-flow: column;
		padding-top: 2rem;
	}
	.page-sidebar, .main-content, .page-navigation {
		flex: 1 auto;
	}
	.page-navigation {
		padding-top: 0;
	}
	.post {
		padding: 0 1em;
	}
	.main-navigation {
		display: flex;
		flex-flow: row wrap;
	}
	.main-navigation li, .main-navigation li:first-child, .main-navigation li:last-child {
		height: auto;
		margin: 0.25em;
		border-radius: 0;
		flex: auto;
		border: 0.5em solid #5C5C5C;
		overflow: visible;
	}
	.main-navigation li:hover {
		background-color: transparent;

	}
	.main-navigation li:hover a:before {
		color: #fff;
	}
	.main-navigation a {
		box-sizing: border-box;
		box-shadow: inset 0px 0px 1px #FFC;
		border: none;
		width: 100%;
		height: 100%;
		border-radius: 0;
		color: #fff;
		position: relative;
		text-align: center;
	}
	.main-navigation a:before {
		font-size: 4em;
		padding: 0;
	}
	.main-navigation span {
		display: block;
		padding-top: 1em;
	}
	.main-navigation a:hover {
		box-shadow: 0 0 0.7em 0.1em rgba(255, 255, 255, 0.8);
	}
	.icon-search {
		background-color: #F2591A;
	}
	.icon-envelope-o {
		background-color: #EC7787;
	}
	.icon-user {
		background-color: #6DD1C9;
	}
	.icon-photo {
		background-color: #E9D027;
	}
	.icon-fire {
		background-color: #DF334C;
	}
	.icon-file-text-o {
		background-color: #89C30C;
	}
	.main-navigation a:hover {
		color: #fff;
	}
}

@media screen and (max-width: 640px) {
	.logo {
		width: 40%;
	}
	.main-navigation {
		left: 100%;
		position: absolute;
		opacity: 0;
	}
	.mobile-menu-chk, .mobile-menu-lbl {
		visibility: visible;
	}
	.icons {
		display: none;
	}
}

@media screen and (max-width: 525px) {
	.main-navigation li {
	}
}

@media screen and (max-width: 425px) {
	.main-navigation li, .main-navigation li:first-child, .main-navigation li:last-child {
		margin: 0.5em;
	}
	.main-navigation a {
		font-size: 0.7em;
	}
}

@media screen and (max-width: 345px) {
	.main-navigation li, .main-navigation li:first-child, .main-navigation li:last-child {
		margin: 0.1em;
	}
	.main-navigation a {
		font-size: 0.6em;
	}
	.post {
		padding: 0 0.2em;
	}
	.post p {
		font-size: 0.7em;
	}
	.container {
		padding: 0;
	}
}