html, body {
	padding: 0;
	margin: 0;
}

.page-content:before, .page-content:after {
	content: "";
	display: table;
	clear: both;
}

.page-header, .page-footer {
	min-height: 100px;
	background-color: #aaa;
	line-height: 100px;
}

.page-sidebar {
	width: 20%;
	background-color: #FFC159;
	min-height: 400px;
	line-height: 400px;
}

.page-sidebar:first-of-type, .main-content {
	float: left;
}

.page-sidebar:last-of-type {
	float: right;
}

.main-content {
	width: 60%;
	line-height: 400px;
}

.page-header, .page-footer, .page-sidebar, .main-content {
	text-align: center;
}