/* Page Styles
================================ */

body {
  margin: 0;
  outline: 0;
  padding: 0;
}

body {
  font: 100%/1.2 Arial, Helvetica, sans-serif;
  color: #383838;
  background-color: #fff;
}

a {
  text-decoration: none;
}

html,
body,
.container,
.page-content,
.page-sidebar {
  height: 100%;
}

h1,
h2,
h3 {
  font-weight: normal;
}

.mobile-menu-checkbox,
.mobile-menu-label {
  display: none;
}

/* Column Layout
================================ */

.container {
  max-width: 1200px;
  min-width: 400px;
  margin: 0 auto;
}

.page-header,
.main-nav {
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.page-sidebar {
  padding: 10px;
  margin-bottom: 50px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 20%;
  -ms-flex: 0 20%;
  flex: 0 20%;
}

.main-content {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding-left: 1rem;
}

/* Header, Navigation & Main Styles
================================ */

/* Header */

.page-header {
  padding: 10px 0 20px 10px;
  border: 2px solid #383838;
  background: #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.page-logo img {
  display: block;
}

.page-title {
  font-size: 2rem;
  margin: 0 0 0 10px;
  text-transform: uppercase;
  line-height: 1;
}

.page-title span {
  display: block;
  font-size: 1.1rem;
}

/* Navigation */

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.menu a {
  display: block;
  font-size: 1rem;
  background: #383838;
  color: #fff;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.menu a:hover,
.item-selected a {
  color: #383838;
  background: #fff;
}

/* Main Navigation */

.page-nav {
  background: #383838;
  margin-bottom: 0.7rem;
  position: relative;
}

.main-nav a {
  padding: 0.7rem 1rem;
}

.mobile-menu-label {
  position: absolute;
  top: -55px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #000;
  background: #fff;
  z-index: 5;
}

.mobile-menu-label:before,
.mobile-menu-label:after {
  content: "";
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  position: absolute;
  height: 2px;
  width: 21px;
  left: 9px;
  display: block;
  background: #000;
}

.mobile-menu-label:before {
  top: 12px;
  -webkit-box-shadow: 0px 7px 0 0 black;
  box-shadow: 0px 7px 0 0 black;
}

.mobile-menu-label:after {
  bottom: 12px;
}

/* Sidebar */

.page-sidebar {
  background: #ccc;
}

/* Sidebar Navigation */

.secondary-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.secondary-nav a {
  text-align: center;
  line-height: 3rem;
}

.secondary-nav a:hover {
  text-decoration: underline;
}

/* Media Queries
================================ */

@media screen and (max-width: 1000px) {
  .page-sidebar {
    -webkit-box-flex: 1;
    -webkit-flex: 1 5%;
    -ms-flex: 1 5%;
    flex: 1 5%;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 90%;
  }


}

@media screen and (max-width: 700px) {
  .page-sidebar {
    -webkit-box-flex: 1;
    -webkit-flex: 1 18%;
    -ms-flex: 1 18%;
    flex: 1 18%;
  }
}

@media screen and (max-width: 550px) {
  .page-header {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .main-nav {
    display: none;
  }

  .mobile-menu-label {
    display: block;
    --webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .main-nav li {
    text-align: center;
  }

  .mobile-menu-checkbox:checked ~ .main-nav {
    display: block;
  }

  .mobile-menu-checkbox:checked + .mobile-menu-label {
    --webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .page-content {
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }

  .main-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .page-sidebar {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    margin-bottom: 0;
  }

  html,
  body,
  .container,
  .page-content,
  .page-sidebar {
    height: auto;
  }

  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 90%;
  }
}

/* Print Styles
================================ */

@media print {
  .page-sidebar,
  .page-nav {
    display: none;
  }

  .main-content {
    width: 100%;
  }
}