
.game {
	display: flex;
	/*width: 80%;*/
	margin: 50px auto;
}

.game li {
	flex: 1;
	margin: auto;
	/*padding: 30px;*/
	border: 1px solid black;
	background-color: #D9CB9E;
	text-align: center;
	padding: 20px 0;
	cursor: pointer;
}

.game .optioned {
	background-color: #FF6138;
}

.game .win {
	background-color: #468966;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?57beeb');
	src:url('../fonts/icomoon.eot?#iefix57beeb') format('embedded-opentype'),
		url('../fonts/icomoon.woff?57beeb') format('woff'),
		url('../fonts/icomoon.ttf?57beeb') format('truetype'),
		url('../fonts/icomoon.svg?57beeb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: absolute;
	right: 0.7em;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-fire:before {
	content: "\e600";
}

html {
	height: 100%;
}

body {
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
}
.container {
	width: 600px;
	height: 100%;
	margin: 0 auto;
	background-color: #FFF0A5;
	position: relative;
	text-align: center;
	border-radius: 5px;
}
.button {
	font: 2em 'Raleway', sans-serif;
	padding: 0.5em 3em 0.5em 1.5em;
	border-radius: 5px;
	background-color: #FFB03B;
	display: inline-block;
	color: #000;
	outline: none;
	border: none;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	opacity: 0.9;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.button:after {
	content: "";
	display: block;
	height: 200%;
	width: 27%;
	position: absolute;
	right: 0;
	top: 0;
	background-color: rgba(255, 255, 255, 0.2);
	-webkit-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	transform: rotate(-15deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.button:hover {
	opacity: 1;
}
.button:hover:after {
	width: 0;
}
.button:active {
	-webkit-transform: translateY(5px);
	-ms-transform: translateY(5px);
	-o-transform: translateY(5px);
	transform: translateY(5px);
}
.button:active i {
	color: red;
}