/* Page Styles
================================ */

/* Initial Reset */

/** {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*/

html, body, h1, h2, a, ul, li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.page-header:after,
.page-header:before {
	content: " ";
	display: table;
	clear: both;
}

/* Typography & Colors */

html {
	font-size: 100%;
}

@media (max-width: 749px) {
	html {
		font-size: 90%;
	}
}

body {
	font: 100%/1.2 "Lato", Helvetica, sans-serif;
	color: #000;
}

a {
	color: #000;
}


h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.5rem;
}

/* Column Layout
================================ */

.page-header {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px 30px;
}


.page-footer {
	max-width: 1000px;
	margin: 0 auto;
}

.contact {
	width: 31.33%;
	float: left;
	margin-right: 2%;
	padding: 20px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.description {
	width: 66.66%;
	float: right;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Media Queries
================================ */

@media (max-width: 749px) {
	.page-header {
		padding: 10px 20px;
	}
}

@media (max-width: 749px) {
	.contact,
	.description {
		float: none;
		width: auto;
		margin: 30px auto;
		text-align: center;
		padding: 0px 40px;
	}
}

/* Header, Main & Footer Styles
================================ */

/* Header Styles */

.logo {
	font: 2rem/1 "Ubuntu", Verdana, sans-serif;
	float: left;
}

@media (max-width: 749px) {
	.logo {
		font-size: 1.5rem;
		line-height: 2;
	}
}

.logo span {
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
	color: #dc6464;
}

.logo:hover span {
	color: #000;
}

/* Navigation */

.page-navigation {
	float: right;
}

.page-navigation li {
	display: inline-block;
}

.page-navigation a {
	font-size: 1.2rem;
	line-height: 2rem;
	letter-spacing: 0.2rem;
	margin: 0 15px;
}

@media (max-width: 749px) {
	.page-navigation {
		display: none;
	}
}

.page-mobile-menu {
	float: right;
	display: none;
	position: relative;
}

@media (max-width: 749px) {
	.page-mobile-menu {
		display: block;
		margin-right: 20px;
	}
}

.mobile-menu-checkbox {
	display: none;
}

.link-menu {
	position: absolute;
	width: 30px;
	height: 30px;
	opacity: 0;
	text-align: center;
	line-height: 28px;
	border-radius: 50%;
	border: 1px solid;
	display: block;
	top: 5px;
	left: 5px;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	z-index: 4;
}

.mobile-menu-label {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
	display: block;
	border: 2px solid #000;
	background: #fff;
	z-index: 5;
}

.mobile-menu-label:before,
.mobile-menu-label:after {
	content: "";
	-webkit-transition: -webkit-transform 0.5s ease-out;
	transition: transform 0.5s ease-out;
	position: absolute;
	height: 2px;
	width: 21px;
	left: 9px;
	display: block;
	background: #000;
}

.mobile-menu-label:before {
	top: 12px;
	-webkit-box-shadow: 0px 7px 0 0 black;
	box-shadow: 0px 7px 0 0 black;
}

.mobile-menu-label:after {
	bottom: 12px;
}

.mobile-menu-checkbox:checked + .mobile-menu-label {
	border-color: red;
}

.mobile-menu-checkbox:checked + .mobile-menu-label:before {
	left: 9px;
	top: 19px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.mobile-menu-checkbox:checked + .mobile-menu-label:after {
	left: 9px;
	bottom: 19px;
	-webkit-transform: rotateZ(-45deg);
	-ms-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}

.mobile-menu-checkbox:checked ~ .link-portfolio {
	left: -40px;
	opacity: 1;
}

.mobile-menu-checkbox:checked ~ .link-about {
	left: -30px;
	top: 40px;
	opacity: 1;
}

.mobile-menu-checkbox:checked ~ .link-contact {
	top: 50px;
	opacity: 1;
}

/* Main Styles */

.page-content {
	position: relative;
	background: url(../images/bgc-black-white.jpg) center center;
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 30%;
}

.main-content {
	margin: 0 auto;
	padding-top: 5%;
	max-width: 1000px;
	color: #fff;
}

@media (max-width: 749px) {
	.main-content {
		padding-top: 1%;
	}
}

.about {
	margin: 20px 0 0 20px;
	max-width: 1000px;
	width: 35%;
	padding: 30px 45px 40px;
	background: rgba(0, 0, 0, 0.3);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.about p {
	font-size: 1.1rem;
	margin: 40px 0;
}

.about h1 {
	padding-bottom: 0.7rem;
	position: relative;
	text-align: center;
}

.about h1:after {
	content: "";
	border-top: 3px solid rgba(0, 0, 0, 0.5);
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
}

@media (min-width: 750px) and (max-width: 999px) {
	.about {
		width: 45%;
	}
}

@media (max-width: 749px) {
	.about {
		width: auto;
		margin: 0;
		background: none;
		color: #000;
		padding-top: 0;
		text-align: center;
	}

	.about h1 {
		display: none;
	}

	.about a {
		display: inline-block;
	}
}

.contact-link {
	padding: 0.7rem 1rem;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	font-size: 1.1rem;
	display: block;
	text-align: center;
	color: #dc6464;
}

/* Footer Styles */

.contact a {
	display: inline-block;
	border: 1px solid black;
	border-radius: 50%;
	width: 34px;
	height: 34px;
	text-align: center;
	margin-left: 0.2rem;
}

.contact i {
	font-size: 20px;
	line-height: 34px;
}

.contact h2 {
	padding-bottom: 0.5rem;
}