.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.row {
  margin: 50px 0;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.thumbnail {
  height: 400px;

  img {
    width: 100px;
    border-radius: 50%;
  }
}
// injector
// endinjector
