<div class="row">

	<form class="col-sm-6 col-md-4 col-md-offset-4" name="searchForm" ng-submit="searchForm.$valid && fire()"
																										novalidate>
		<fieldset class="form-group">
			<input ng-model="request.keyword" type="text" class="form-control" placeholder="Search" title="Search" required />
		</fieldset>

		<fieldset class="form-group">
			<input ng-model="request.forks" type="number" min="0" class="form-control" placeholder="Forks" title="Forks" />
		</fieldset>

		<fieldset class="form-group">
			<input ng-model="request.stars" type="number" min="0" class="form-control" placeholder="Stars" title="Stars" />
		</fieldset>

		<fieldset class="form-group">
			<input ng-model="request.size" type="number" min="0" class="form-control" placeholder="Size" title="Size" />
		</fieldset>

		<fieldset class="form-group">
			<input type="submit" class="btn btn-primary center-block" value="Search" />
		</fieldset>

	</form>
</div>