<div class="row">
	<div class="col-sm-6 col-md-4 col-md-offset-4">
		<div class="thumbnail detail">
			<h2 class="text-center"><a href="{{item.html_url}}">{{item.full_name}}</a></h2>
			<img ng-src="{{item.owner.avatar_url}}" alt="{{item.owner.login}}">
			<h5 class="text-center">{{item.owner.login + ' ( ID:' + item.owner.id + ')'}}</h5>
			<accordion>
				<accordion-group heading="Description">
					<p>{{item.description}}</p>
				</accordion-group>
				<accordion-group heading="Language">
					<p>{{item.language}}</p>
				</accordion-group>
				<accordion-group heading="Contributors">
					<div class="media" ng-repeat="contributor in contributors">
						<a class="media-left" href="#">
							<img ng-src="{{contributor.avatar_url}}" alt="{{contributor.login}}">
						</a>
						<div class="media-body media-middle">
							<h4 class="media-heading">{{contributor.login + ' ( ID:' + contributor.id + ')'}}</h4>
						</div>
					</div>
				</accordion-group>
			</accordion>
		</div>
	</div>
</div>